@import url('https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap');


body {
  margin: 0;
  font-family: Nunito, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#608FDA, #A5B6F0);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  justify-content: center;
}

.container{
  text-align: center;
  margin-top: 100px;
}

.container header{
  font-size: 1.3rem;
  margin: 0 auto 60px auto;
  position: relative;
  height: 25px;
  width: 250px;
  overflow: hidden;
}

.container p {
  font-size: 12px;
  margin-top: 50px;
}

.container input {
  border: 10px;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 1rem;
  color: #000;
  border-radius: 5px;
}

button {
  border: 10px;
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
}

.simpleResult {
  display:flex;
  height: 100%;
  padding: 20px;
}

.simpleResult h2{
  color: #ffff;
  padding: 20px;
  margin: 20px 10px;
  background: rgba(255,255,255,0.2);
  border-radius: 100px;
}

.simpleResult p{
  color: #ffff;
}


.detailedResult{
  background: rgba(255,255,255,0.1);
}

.detailedResult p{
  display: flex;
  color: #ffff;
  width: 100px;
  margin-top: 10px;
}

.detailedResult .individualResult {
  padding: 20px;
  justify-content: center;
  /* background: rgba(255,255,255,0.3); */
  display: flex;
}